.author_post_avatar{
  max-width:50px;
  max-height: 50px;
  border-radius: 50%;
  display: inline;
}
.profile-drop{
  border-radius: 0;
  margin-top: 7px;
  width: 100%;
}
.items{
  font-size: 13px;
  color:rgb(82, 92, 104);
  height: 40px;
}
