<ul class="list-group">
  <li class="list-group-item post-li" *ngFor="let comment of comments">
    <div class="author_post">
      <div>
        <img class="author_post_avatar" src= "{{comment.author.profile.avatar}}">
        <div class="author_post_name">
          <a [routerLink]="" (click)="openDialog(comment.author.id)">
          {{comment.author.first_name}} {{comment.author.last_name}}
          </a>
        </div>
        &nbsp;
        <div class="author_post_date">{{comment.created_date | dateFormat}}</div>
        <div *ngIf="isMyComment(comment)" class="delete">
          <a [routerLink]="" (click)="deleteMyComment(comment.id)">
            delete
          </a>
        </div>
      </div>
      <div class="post_content">
        {{comment.text}}
      </div>
    </div>
  </li>
</ul>
<br>
<label> Комментарии </label>
<br>
<label> Добавить комментарий </label>
<form [formGroup]="form" class="form-group post-form" (ngSubmit)="onSubmit()">
  <div class="form-group">

    <textarea  class="form-control new_post" formControlName="text" type="text"></textarea>
    <div class="file_upload">
      <button class="btn btn-sm file_upload_btn">
        <i class="fa fa-image" aria-hidden="true"> </i></button>
      <button class="btn btn-sm  file_upload_btn"><i class="fa fa-file" aria-hidden="true"> </i></button>
    </div>
    <button appButtonBlue type="submit">Отправить</button>
    <button class="btn btn-sm">Отменить</button>
  </div>
</form>

