<div class="auth_label_block">
  <label class="auth_label">Bitrix24 Login</label>
</div>
<div  class="auth_content">

<div class="auth_warn">
    Чтобы войти на bitrix24.kz, пожалуйста, авторизуйтесь с вашим логином и паролем или через соцсети
</div>
<form #draggable [formGroup]="form" [ngClass]="formStyle" (ngSubmit)="goToPassword()" @Appear>
    <div class="form-group auth_form">
      <label for="email">Введите логин или email</label>
  <input  class="form-control auth_form_control"  formControlName="email" type="text" />
  <!-- <input  class="form-control auth_form_control" formControlName="password" type="password" /> -->
 
  <button class="btn btn-lg auth_submit" type="submit">Далее</button>
    </div>

</form>
<div  #container></div>
</div>


