.greynav{
    background-color: #535c69;
}
.custom_icon{
    margin-right: 10px;
}
.hehe{
    width: 700px;
    background-color: #717a84;
    border-color: #717a84
}
.company_name{
    width: 200px;
}
.form-rounded {
    border-radius: 1rem;
    }

.clock{
    width: 200px;
    background-color:#91b33e;
    padding:0;
}
.clock:hover {
    background-color: transparent;
  }
  ::placeholder {
    color:#D8D5D4;
  }