<nav class="navbar navbar-expand-lg greynav">
  <div class="company_name">

    <i class="fa fa-bars custom_icon" aria-hidden="true"> </i>
    <a *ngIf="user" class="navbar-brand" href="#">{{user?.profile?.company?.name}}</a>
    <a *ngIf="!user" class="navbar-brand" href="#">{{'bitrix24' | uppercase}}</a>
  </div>

    <form  class="form-inline ">
        <input class="form-control form-rounded hehe" type="search" placeholder="Поиск по записям" aria-label="Search">
      </form>
      <div class="clock">

      </div>

  <app-profile-info *ngIf="user"></app-profile-info>
  </nav>
