<!-- <app-sidebar></app-sidebar> -->
<div class="row">
    <div class="col-2 side-right">
        <app-sidebar></app-sidebar>
    </div>
  <div class="col-8">
<div class="content">
  <div class="head_form">
    <button class=" active btn btn-lg new_post_btn">НОВЫЙ ПОСТ</button>
    <button class="btn btn-lg new_post_btn">ОТЧЕТ</button>
    <button class="btn btn-lg new_post_btn">СОБЫТИЕ</button>
  </div>
  <form [formGroup]="form" class="form-group post-form" (ngSubmit)="onSubmit()">
    <div class="form-group">

      <input class="form-control new_post" formControlName="text" type="text"/>
      <div class="file_upload">
        <button class="btn btn-sm file_upload_btn">
          <i class="fa fa-image" aria-hidden="true"> </i></button>
        <button class="btn btn-sm  file_upload_btn"><i class="fa fa-file" aria-hidden="true"> </i></button>
      </div>
      <button appButtonBlue type="submit">Отправить</button>
      <button class="btn btn-lg">Отменить</button>
    </div>
  </form>
  <div class="head_posts" @Move >
    Живая лента
    <!-- <form [formGroup]="form" class="form-group post-search" (ngSubmit)="onSearch()">
            <div class="form-group">

                <input class="form-control" formControlName="post-text" type="text" />

            </div>
        </form> -->
  </div>
  <ul class="list-group">
      <li class="list-group-item post-li" *ngFor="let post of posts">
        <div class="author_post">
          <div>
            <img class="author_post_avatar" src="{{post.author.profile.avatar}}">
            <div class="author_post_name" >
              <a [routerLink]="" (click)="openDialog(post.author.id)">{{post.author.first_name}} {{post.author.last_name}}</a>
            </div>
            &nbsp;
            <div class="author_post_date">{{post.created_date | dateFormat }}</div>
            <div *ngIf="isMyPost(post)" class="delete">
                <a [routerLink]="" (click)="deleteMyPost(post.id)">
                    delete
                </a>
             </div>
          </div>

         
          <div class="post_content">
            {{post.text}}
          </div>
        </div>

        <div class="comments_block">
          <app-comment post_id="{{post.id}}"></app-comment>
        </div>
      </li>
  </ul>
</div>
</div>
<div class="col-2 side-right">
    <div appRightSideHeaders>
      пригласить сотрудников
      <i class="fa fa-plus" aria-hidden="true"> </i>
    </div>
    <div appRightSideHeaders>
        Популярные записи
      </div>
    <div class="shortened_posts">
      <ul class="list-group">
          <li class="list-group-item " *ngFor="let post of posts">
              <div class="author_post">
                  <div>
                    <img class="author_post_avatar_shorten" src="{{post.author.profile.avatar}}">
                    <div class="author_post_name">
                        <a [routerLink]="" (click)="openDialog(post.author.id)">
                      {{post.author.first_name}} {{post.author.last_name | shortenText:[8]}}
                      </a>
                    </div>
                  </div>
                  <div class="post_content_shorten">
                    {{post.text | shortenText:[40]}}
                  </div>
                </div>
                </li>
      </ul>
    </div>
</div>
</div>

<app-file-upload></app-file-upload>