<div class="forgot">
  <form *ngIf="!isSecretCode" [formGroup]="formPhone" (ngSubmit)="onSubmitPhone()">
    <div class="form-group auth_form">
      <label for="username">Введите номер указанный Вами при регистрации и мы вышлем вам секретный код</label>
      <input class="form-control " formControlName="phone" type="text" />
      <button class="btn btn-lg auth_submit" type="submit">Далее</button>
    </div>

  </form>
  <form *ngIf="isSecretCode" [formGroup]="formSecretCode" (ngSubmit)="onSubmitSecretCode()">
      <div class="form-group auth_form">
        <label for="username">Введите секретный код, высланный на указанный Вами номер</label>
        <input class="form-control " formControlName="secretСode" type="password" />
        <button class="btn btn-lg auth_submit" type="submit">Далее</button>
      </div>
  
    </form>
</div>